.header {
  display: flex;
  justify-content: space-between;
}

.header input {
  background: #fff;
  width: 120px;
  border: none;
  border-radius: 10px;
  padding: 4px 4px 4px 10px;
  outline: none;
}

.header span {
  font-size: 15px;
  margin-left: 5px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}